node_modules
ventas.json
pids/insight.pid
pool_configs/quasar.json
pool_configs/quasar.json
pool_configs/terabit.json
config.json
pool_configs/yangchigi_sample.json
pool_configs/*
.npm
.node-gyp
npm-debug.log
